/* 8. Portfolio Styles
--------------------------------------*/
@import "../assets/css/partials/_.variables.scss";

.tm-portfolio-images-container {
    overflow: hidden;
  }
  
  .tm-image-container {
    float: left;
    position: relative;
    max-width: 323px;
    width: 33%;
    &.photo-show {
      display: block;
    }
    &.photo-hide {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  
  .tm-portfolio-image-overlay {
    background-color: rgba(255, 198, 1, 1);
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
  
    &:hover {
      opacity: 1;
    }
  
    a {
      color: $main-blue;
      background-color: #fff;
      border-radius: 50%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
  
      &:hover {
        background-color: #000;
        text-decoration: none;
      }
    }
  
    h2 {
      margin-top: 25px;
      font-size: 14px;
    }
  }
  
  .tm-view-more {
    display: inline-block;
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 180px;
  }
  
  a.tm-view-more {
    &:hover {
      background-color: $main-blue;
      color: #000;
    }
  
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }