// 6. About Styles
@import "../assets/css/partials/_.variables.scss";
.canvas-wrap {
  position: relative;
  text-align: center;
}

.canvas-overlay {
  cursor: pointer;
  position: absolute;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 226px;
  height: 385px;
  margin: 0 auto;

  &:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    border-bottom: 18px solid $main-blue;
    width: 100%;
    transition: 0.3s;

    .tm-member-info {
      background-color: rgba(0, 0, 0, 0.65);
      height: 100%;
    }

    .tm-member-wrap {
      position: relative;
      display: inline-block;
      top: 30%;
    }
  }
}

.canvas-lines {
  padding-top: 150px;
}

// .canvas-lines .canvas-overlay {
// 	// top: 150px;
// }

.canvas-overlay a {
  color: #fff;
  background-color: $main-blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &.fa {
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.member-name {
  color: $main-brightest-blue;
  font-size: 18px;
  font-weight: 700;
}

.member-title {
  color: #fff;
}

.tm-about-title,
.tm-about-subtitle,
.tm-about-subtitle-2 {
  font-weight: 700;
}

.tm-about-title {
  font-size: 85px;
}

.tm-about-subtitle {
  font-size: 44px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tm-about-subtitle-2 {
  font-size: 17px;
}

.tm-about-description {
  font-size: 14px;

  ul li {
    line-height: 1.8em;
    list-style: none;

    &:before {
      content: "•";
      font-size: 10pt;
      padding-right: 5px;
    }
  }
}

.member {
  width: 228px;
  height: 385px;
}

#member1 {
  background-image: url(../assets/img/team/team-photos-1.jpg);
}

#member2 {
  background-image: url(../assets/img/team/team-photos-2.jpg);
}

#member3 {
  background-image: url(../assets/img/team/team-photos-3.jpg);
}

.canvas-wrap {
  position: relative;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 40%;

  p {
    font-weight: 700;
  }
}

a:hover .overlay p {
  color: #7b7b7b;
}

.about-img-wrapper {
  position: relative;
  margin: 15px auto;
  width: 228px;
  text-align: center;
}
