:host {
	display: inline-block;
	position: relative;
	outline: none;
}

.cedricmedia-logo {
	display: inline-block;
	position: relative;
	text-align: center;
	overflow: visible;
	visibility: hidden;
	width: 70px;
	margin: 0;
	cursor: pointer;
	// top: 14px;
	&:hover {
		animation: wobble 1s;
		-webkit-animation: wobble 1s;
	}
	.cls-1 {
		fill: #2b67b2;
		fill-rule: evenodd;
	}

	.cls-2 {
		font-size: 75.55px;
		fill: white;
		font-family: Raleway-Bold, Raleway;
	}

	.cls-3,
	.cls-4 {
		font-weight: 700;
	}

	.cls-3 {
		letter-spacing: 0em;
	}

	.cls-5 {
		font-family: Raleway-Light, Raleway;
		letter-spacing: 0em;
	}
	#logo_c {
		fill: white;
	}
}

.cedricmedia-logo.fadeIn {
	visibility: visible;
}
.c-name-letter,
.bottom-row {
	visibility: hidden;
}
.animated {
	visibility: visible;
}
