@import "../assets/css/partials/_.variables.scss";
@import "../assets/css/partials/_.mixins.scss";

.cedricmedia-header {
  background-image: url("../assets/img/hero-images/WallpaperFusion-new-york-sunset-3840x2160.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  min-height: 250px;
  background-size: 100% 180%;
  // height: 390px;
  .cm-logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    background-color: black;
    top: 0;
    position: absolute;
    padding: 15px;
    transition: 0.3s;
    border-bottom: 3px solid white;
  }
}
.main-hero-content {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 100px 0;
}
.tm-home-right {
  max-width: 350px;
  padding: 25px;

  .main-hero-h1-wrap {
    width: 100%;
    display: inline-block;
    @include cmBlueBGOpacity(0.9);
    padding: 10px;
  }
  .main-hero-h2-wrap {
    width: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    margin-top: 5px;
  }
  .tm-home-description {
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    margin-top: 5px;
  }
}
/* 5. Home Styles
--------------------------------------*/
.tm-home-title,
.tm-home-subtitle {
  font-weight: 700;
}
.tm-home-title {
  color: #fff;
  font-size: 30px;
}
.tm-home-subtitle {
  font-size: 18px;
  color: $main-brighter-blue;
}

.tm-home-more {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 15px;
  background-color: $main-blue;
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  &:hover {
    @include cmBlueBGOpacity(0.9);
    text-decoration: none;
    color: white;
  }
}
.header-black-angle-border {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  left: 0;
}

.nav-container {
  width: 100%;
  margin: 0 auto;
  padding: 15px 40px;

  &.fixed-bg {
    background-color: rgba(255, 255, 255, 0.92);
    -webkit-box-shadow: 0px 7px 13px -6px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 7px 13px -6px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 7px 13px -6px rgba(0, 0, 0, 0.46);

    .cm-logo {
      background-color: #3c3c3c;
      border-bottom-color: yellow;
    }
  }
  .cedricmedia-nav {
    margin-bottom: 0;
    padding: 10px;
    float: right;

    li {
      display: inline-block;
      list-style: none;

      > a {
        background-color: rgba(0, 0, 0, 0);
        color: #000;
        padding: 10px;
        // transition: background-color 0.5s ease;
        // -webkit-transition: background-color 0.5s ease;

        &:hover,
        &.active {
          background-color: rgb(0, 0, 0);
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  // .cedricmedia-header {
  // 	height: 700px;
  // }
}
