@import "../assets/css/partials/_.variables.scss";
#contact {
  background-image: url("../assets/img/hero-images/WallpaperFusion-grimsel-pass-3840x2160.jpg");
  background-repeat: repeat-y;
  background-position: center center;
  position: relative;

  .contact-form-wrap {
    position: relative;
    display: inline-block;
    background-color: #1d1d1d;
    box-shadow: 0 0 0 0;
    padding: 20px;

    h1,
    p {
      color: white;
      font-weight: 400;
    }
    p {
      font-weight: 300;
    }
    form.contact-form {
      .form-group {
        width: 100%;

        label {
          display: block;
          color: $main-brightest-blue;
        }

        input,
        textarea {
          width: 100%;
          background-color: transparent;
          outline: none;
          box-shadow: none;
          border: 1px solid white;
          color: white;
          padding: 10px;
        }
        .error-msg {
          position: relative;
          display: block;
          margin-top: 2px;

          p {
            color: #f06a6a;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 0;
          }
          p:empty {
            display: none;
          }
        }
        .character-count {
          display: inline-block;
          color: white;
          font-size: 12px;
          text-align: right;
          width: 100%;

          &.red {
            color: red;
          }
        }
      }
      button {
        &.contact-submit-btn {
          width: 100%;
        }
      }
    }
  }
}
