@import "../../assets/css/partials/_.variables.scss";
@import "../../assets/css/partials/_.mixins.scss";

a {
  &#mobile_menu {
    font-size: 24px;
    @include cmBlueBGOpacity(0.9);
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 5500;
  }
}
