/* 4. Responsive Menu Styles
--------------------------------------*/
@import "../../assets/css/partials/_.variables.scss";
@import "../../assets/css/partials/_.mixins.scss";

#responsive-menu {
	top: 80px;
	width: 250px;
	height: 100%;
	background: rgb(29, 29, 29);
	position: fixed;
	z-index: 5500;
	overflow: auto;
	transition: 0.3s;
	&.closed {
		right: -1500px;
	}
	&.open {
		right: 0;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: block;
			margin-bottom: 2px;

			a {
				padding: 12px 18px;
				background-color: #1d1d1d;
				color: white;
				display: block;
				-webkit-border-radius: 4px;
				-webkit-background-clip: padding-box;
				-moz-border-radius: 4px;
				-moz-background-clip: padding;
				border-radius: 4px;
				background-clip: padding-box;
				text-transform: uppercase;
				&.active {
					background-color: $main-blue;
				}
				i {
					margin-right: 15px;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	#responsive-menu {
		display: none;
	}
}