@import "../assets/css/partials/_.variables.scss";
/* 7. Services
--------------------------------------*/

.cedricmedia-services {
  background-image: url("../assets/img/hero-images/WallpaperFusion-forest-trail-3840x2160.jpg");
  background-repeat: repeat-y;
  background-position: center center;
  position: relative;
}

.tm-pricing-table {
  padding: 30px;
  max-width: 260px;
  width: 100%;
}

.tm-pricing-table-container {
  display: inline-block;

  &:last-child {
    margin-right: 0px;
  }
}

.table-big {
  height: 480px;
  max-width: 300px;
  width: 100%;
}

.tm-pricing-header {
  border-bottom: 1px solid;
  font-size: 22px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: $main-brightest-blue;
}

.tm-pricing-table ul li {
  list-style: none;
  line-height: 2em;
}

.price-tag {
  background-color: $main-blue;
  border-radius: 50%;
  color: white;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 120px;
  height: 120px;
  vertical-align: middle;
}

.price-tag-inner {
  margin-top: 10px;
}

.price-tag {
  .dollar {
    font-size: 30px;
    font-weight: 700;
    vertical-align: middle;
  }

  .price {
    font-size: 50px;
    font-weight: 700;
    vertical-align: middle;
  }

  .month {
    display: block;
  }
}

/* http://stackoverflow.com/questions/5763911/placing-a-div-within-a-canvas */

.canvas-wrap {
  position: relative;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 40%;

  p {
    font-weight: 700;
  }
}

a:hover .overlay p {
  color: #7b7b7b;
}

.triangle-bottom {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 80px 130px 0 130px;
  border-color: $main-brighter-blue transparent transparent;
  color: white;

  .overlay {
    position: absolute;
    top: 20%;
    left: 37%;

    .tm-dark-text {
      color: white;
    }
  }
}

@media (min-width: 576px) {
  .tm-pricing-table-container {
    margin-right: 30px;
  }
}
