/* 2. Header Styles
--------------------------------------*/
.nav-wrap {
  position: relative;
  display: block;
  width: 100%;
}
.cedricmedia-header {
  background-image: url("../assets/img/hero-images/WallpaperFusion-new-york-sunset-3840x2160.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  min-height: 250px;
}

.cedricmedia-header-inner {
  padding-top: 30px;
}

.cedricmedia-logo {
  font-size: 60px;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 940px;
  }

  .cedricmedia-logo {
    font-size: 50px;
  }
}
