@import "../assets/css/partials/_.variables.scss";

.img-circle {
  border-radius: 50%;
}

/* 9. Testimonials Styles
--------------------------------------*/

.img-container {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 170px;
  position: relative;
}

.tm-img-circle-border {
  img {
    display: inline-block;
    width: 120px;
    height: 120px;
    vertical-align: middle;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  border: 1px solid $main-blue;
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
  width: 130px;
  height: 130px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &.active {
    img {
      width: 150px;
      height: 150px;
    }

    border: 3px solid $main-blue;
    width: 170px;
    height: 170px;
    padding: 7px;
  }
}

p.tm-author {
  font-weight: 700;
  font-style: italic;
  margin: 10px 0 0 0;
}

hr.tm-author-name-underline {
  height: 1px;
  width: 80px;
  border: none;
  color: $main-blue;

  /* old IE */
  background-color: $main-blue;

  /* Modern Browsers */
  margin-top: 5px;
  margin-bottom: 0;
}