/* 12. Media Queries
--------------------------------------*/
@media screen and (max-width: 992px) {
  .container {
    max-width: 940px;
  }

  .cedricmedia-logo {
    font-size: 50px;
  }

  .cedricmedia-nav li > a {
    padding: 8px 5px;
  }

  .tm-about-right {
    text-align: center;
  }

  .canvas-lines {
    padding-top: 0px;
  }

  .canvas-lines .canvas-overlay {
    top: 0px;
  }

  .tm-pricing-table-container {
    margin-right: 0px;
  }

  .cedricmedia-services .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .tm-home-right {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-pricing-table-container {
    margin-right: 0px;
  }

  .tm-pricing-table {
    margin: 0 auto;
  }

  .overlay p {
    text-align: center;
  }

  #map-canvas {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 614px) {
  .tm-portfolio-images-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .tm-image-container {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .tm-image-container {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}
