/* 1. Universal Styles
--------------------------------------*/
*,
body {
  font-family: "Open Sans", sans-serif;
}
body {
  overflow-x: hidden;
}
body,
h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.blue {
  color: #3cf;
}

.green {
  color: #cf6;
}

.tm-blue-text {
  color: $main-blue;
}
.tm-blue-bg {
  background-color: $main-blue;
}
.tm-blue-bg-transparent {
  background-color: $main-blue;
}
.tm-white-text {
  color: #fff;
}
.tm-dark-text {
  color: #1d1d1d;
}
.tm-dark-bg {
  background-color: #1d1d1d;
}
.tm-light-gray-text {
  color: #eaeaea;
}

a.tm-light-gray-text:hover {
  color: #fff;
  text-decoration: none;
}
.margin-top-50 {
  margin-top: 50px;
}
.hide {
  display: none !important;
}
.hide {
  position: absolute;
  left: -1000px;
  top: -1000px;
}

/* http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 120px;
}
.tm-border {
  height: auto;
  width: 100%;
}
.container {
  max-width: 1000px;
}

/* 8. Portfolio Styles
--------------------------------------*/
.tm-portfolio-images-container {
  overflow: hidden;
}
.tm-image-container {
  float: left;
  position: relative;
  max-width: 323px;
  width: 33%;
}
.tm-image-container img {
  width: 100%;
}
.tm-portfolio-image-overlay {
  background-color: rgba(255, 198, 1, 1);
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}
.tm-portfolio-image-overlay:hover {
  opacity: 1;
}
.tm-portfolio-image-overlay a {
  color: $main-blue;
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
.tm-portfolio-image-overlay a:hover {
  background-color: #000;
  text-decoration: none;
}
.tm-portfolio-image-overlay h2 {
  font-size: 14px;
}
.tm-view-more {
  display: inline-block;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 180px;
}
a.tm-view-more:hover {
  background-color: $main-blue;
  color: #000;
}
a.tm-view-more:focus {
  color: #fff;
  text-decoration: none;
}

/* 10. Contact Styles
--------------------------------------*/
#map-canvas {
  height: 350px;
}
.form-control,
.btn {
  border-radius: 0;
}
.form-control {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(46, 43, 43, 0.27);
  font-size: 12px;
}
.form-control:focus {
  border-color: #858585;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(46, 43, 43, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(46, 43, 43, 0.3);
  outline: 0;
}
.tm-send-btn {
  font-size: 12px;
  padding: 8px 35px;
}
.tm-send-btn:hover {
  color: #fff;
}

/* 11. Footer
--------------------------------------*/
footer {
  background-color: #1d1d1d;
  color: #898888;
  padding: 15px 0;
  position: relative;
}
footer p {
  display: inline-block;
  vertical-align: bottom;
}

h2 {
  color: $main-blue;
}

.flipped-image-h {
  transform: scaleX(-1);
}

.flipped-image-v {
  transform: scaleY(-1);
}

.flipped-image-h-v {
  transform: scaleX(-1) scaleY(-1);
}

.triangle-nudge {
  position: relative;
  display: inline-block;
  top: 1px;
}
